{% extends 'base.html' %}
{% block title %}Login Page{% endblock title %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock css %}

{% block content %}

{% if form.errors %}
<p>Потребителското име или паролата не съвпадат. Опитаите пак</p>
{% else %}
<h2>Login Page</h2>
{% endif %}
<form action="" method="POST">
{% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Login" class="form-control btn btn-primary">
</form>
<a href="{% url 'movies:registration' %}">Ако нямате регистрация може да я направите тук...</a>
{% endblock content %}