<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    {% block css %}{% endblock css %}
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>

<body>

    <div class="container">
        <div class="d-flex justify-content-between">
            <div>
                <h2>ФИЛМОВ КАТАЛОГ</h2>
            </div>
            <!-- добре дошли {{ request.user }}. Използване https : {{ request.is_secure|yesno }}  -->
        
            <div class="ml-auto">
                {% if user.is_authenticated %}
                <div class="d-flex">
                    <a href="{% url 'movies:edit' %}" class="my-0">
                        <h6 class="my-0">Edit Profile</h6>
                    </a>&nbsp;&nbsp;
                    <a href="{% url 'movies:logout' %}?next=/" class="my-0">
                        <h6 class="my-0">Logout {{ user }}</h6>
                    </a>
                </div>
            {% else %}
                <a href="{% url 'movies:user_login' %}" class="my-0">
                    <h6 class="my-0">Login</h6>
                </a>
            {% endif %}
            </div>
        </div>

        <div class="row">
            {% include 'core/right_menu.html' %}

            <div class="col-md-8 order-md-1">

                {% block content %}
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                {% endblock content %}

            </div>
        </div>
    </div>

</body>

</html>